.login {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  background-image: url("https://trello-attachments.s3.amazonaws.com/5f11b957273429681522af65/5f5755d3493d338105fdb51a/054328060ca33fb5438a5781bedce1e3/imagen.jpeg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.login img {
  width: 300px;
  height: 400px;
  margin-left: 6%;
}
.login p {
  color: wheat;
  font-size: 20px;
}
.login h1 {
  color: wheat;
  font-size: 50px;
  margin-top: -50px;
}
.containerLogin {
  width: 100vw;
  height: 100%;
}
