.header__container {
  display: flex;
  position: absolute;
  width: 100%;
  height: 100px;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.header__back--button {
  border: none;
  background: transparent;
  margin-left: 5px;
  margin-top: 5px;
}
.header__menu--button img {
  width: 80%;
  height: 80%;
}
.header__menu--button {
  width: 60px;
  height: 60px;
  background: transparent;
  border-radius: 5%;
  border: transparent;
}
.header__menu--button:hover {
  background: lightgrey;
  border: red;
}
.header__container--logo__arrow {
  display: flex;
  flex-direction: column;
}

.header__back--arrow {
  width: 60px;
  height: 10px;
}

.header__logo {
  width: 60px;
  height: 50px;
  margin-left: 20px;
}

.header {
  width: 100%;
  height: 100px;
  top: 0;
  left: 0;
  position: fixed;
}

.header__profile {
  border: 2px solid transparent;
  background: transparent;
  background-image: url("https://trello-attachments.s3.amazonaws.com/5f11b957273429681522af65/5f5755d3493d338105fdb51a/b5ad9bb7589f3534b8903bcbfc0dc6ed/img.png");
  background-size: 100% 90%;
  background-repeat: no-repeat;
  border-radius: 50%;
  margin-right: 10px;
  width: 60px;
  height: 60px;
}
.header__profile:hover {
  border: 2px solid red;
}
